.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* shared styles */
.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 18px 35px 19px 36px;
    font-size: 20px;
    font-weight: bold;
    opacity: 100%;
}

.btn {
    color: #FD6E0A;

    border-color: #FD6E0A;
    border-radius: 5px;
    width: 160px;
    height: 60px;
    padding: 19px 23px 18px 24px;
    font-size: 20px;
    font-weight: bold;
    opacity: 100%;
    margin-left: 30px;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center {
    text-align: center;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* header styles */

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    zoom: 77.75%;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner style */

.banner {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 24px 0px 230px;
}

.banner-content {
    width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
    font-weight: normal;
}

.banner-profile-pic {
    width: 584px;
    height: 676px;
}

/* about styles */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 261px;
    margin-bottom: 261px;
    margin-left: 230px;
    margin-right: 230px;
    zoom: 77.75%;
    border-style: solid;
    border-color: #000000;
}

.about-items {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.item-title {
    font-size: 20px;
}

.item-description {
    font-size: 20px;
    font-weight: 600;
}

/*skills section styles */
.skills {
    margin: 130px auto;
    zoom: 77.75%;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skills-section {
    margin-left: 346px;
    margin-right: 346px;
    margin-bottom: 50px;
}

/* experience */
.resume{zoom: 77.75%;}
.resume-container{display: flex;
    gap: 24px;
    

}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-top: 113px;
    margin-bottom: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 30px;
}
.margin hr{
    margin-bottom: 30px;
}
.experience{margin-right: 71px;}
.resume-download-cv{
    margin-top: 50px;
}

/* footer styles */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.footer-column{
    width: 50%;
    margin-top: 243px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color:#FFFFFF ;
    color: #757575 ;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
form{
    margin-bottom: 40px;
}
footer .section-descripton {
    margin-bottom: 30px;
    margin-top: 20px;
}
footer div a{
    margin-right: 24px;
}